<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hds.api.sys.dao.CacheDao">
	<!-- 接入系统表 mapper-->
	<!-- 接入系统表返回结果 -->
	<resultMap id="HDSSysResultMap" type="com.hds.api.sys.vo.HDSSys">
		<result column="sys_id" property="sys_id" javaType="string" jdbcType="VARCHAR" />
		<result column="sys_bfname" property="sys_bfname" javaType="string" jdbcType="VARCHAR" />
		<result column="sys_flag" property="sys_flag" javaType="int" jdbcType="INTEGER" />
		<!--  <result column="sys_name" property="sys_name" javaType="string" jdbcType="VARCHAR" />-->
	</resultMap>
    <!-- 接入系统表字段 -->
	<sql id="HDSSysBase_Column_List">
		sys_id,sys_bfname,sys_flag
	</sql>
    <!-- 接入系统表查询接口 -->
	<select id="getHDSSysList" resultMap="HDSSysResultMap" parameterType="com.hds.api.sys.vo.HDSSys">
		    select
		<include refid="HDSSysBase_Column_List" />
		    from t_access_sys
	</select>
	
	
	<!-- 接口表 mapper-->
    <!-- 接口表返回结果 -->
	<resultMap id="HDSApiResultMap" type="com.hds.api.sys.vo.HDSApi">
		<result column="api_id" property="api_id" javaType="string" jdbcType="VARCHAR" />
		<result column="api_name" property="api_name" javaType="string" jdbcType="VARCHAR" />
		<result column="api_flag" property="api_flag" javaType="int" jdbcType="INTEGER" />
		<result column="api_url" property="api_url" javaType="string" jdbcType="VARCHAR" />
	</resultMap>
    <!-- 接口表字段 -->
	<sql id="HDSApiBase_Column_List">
		api_id,api_name,api_flag,api_url
	</sql>
    <!-- 接口表查询接口 -->
	<select id="getHDSAPIList" resultMap="HDSApiResultMap" parameterType="com.hds.api.sys.vo.HDSApi">
		     select
		<include refid="HDSApiBase_Column_List" />
		     from t_api
	</select>
	
	
    <!-- ip白名单表 mapper-->
    <!-- ip白名单表返回结果 -->
	<resultMap id="HDSIPWhiteListResultMap" type="com.hds.api.sys.vo.HDSIPWhiteList">
		<result column="sys_id" property="sys_id" javaType="string" jdbcType="VARCHAR" />
		<result column="sys_ip" property="sys_ip" javaType="string" jdbcType="VARCHAR" />
	</resultMap>
    <!-- ip白名单表字段 -->
	<sql id="HDSIPWhiteListBase_Column_List">
		sys_id,sys_ip
	</sql>
    <!-- ip白名单表查询接口 -->
	<select id="getHDSIPWhiteList" resultMap="HDSIPWhiteListResultMap" parameterType="com.hds.api.sys.vo.HDSIPWhiteList">
		    select
		<include refid="HDSIPWhiteListBase_Column_List" />
		    from t_ip_whitelist
	</select>
	
    <!-- 系统接口权限表 mapper-->
    <!-- ip白名单表返回结果 -->
	<resultMap id="HDSApiSysResultMap" type="com.hds.api.sys.vo.HDSApiSys">
		<result column="api_id" property="api_id" javaType="string" jdbcType="VARCHAR" />
		<result column="sys_id" property="sys_id" javaType="string" jdbcType="VARCHAR" />
	</resultMap>
    <!-- ip白名单表字段 -->
	<sql id="HDSApiSysBase_Column_List">
		api_id,sys_id
	</sql>
    <!-- ip白名单表查询接口 -->
	<select id="getHDSApiSysList" resultMap="HDSApiSysResultMap" parameterType="com.hds.api.sys.vo.HDSApiSys">
		    select
		<include refid="HDSApiSysBase_Column_List" />
		    from t_api_sys
	</select>
	
	
</mapper>